
 a.action{
  position: relative;
  margin: 10px 0;
  text-decoration: none;
  letter-spacing: 2px;
  color: #111;
  line-height: 1.7;
}

 a.action:hover:after{
  content: '';
  position: absolute;
  left: -8px;
  top: 10px;
  background-color: black;
  display: block;
  height: 4px;
  width: 4px;
  animation: blink 2s infinite;
}
@keyframes blink{
  0%{
    background-color: transparent;
  }
  50%{
    background-color: black;
  }
  100%{
    background-color: transparent;
  }
}