.CardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Card {
    display: inline-block;
    vertical-align: top;
    width: 190px;
    margin: 15px 10px;
    box-sizing: border-box;
    padding: 25px 20px 10px;
    cursor: pointer;
    position: relative;
    flex: 1 1 130px;
    /* transition: .5s cubic-bezier(0.23, 1, 0.32, 1); */
}

.Card:hover{
    background-color: #f6f6f6;
}
@media screen and (min-width:768px){
    .CardContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .Card {
        flex: 0 1 190px;
    } 
}
.Card:focus {
    outline: none;
}

.Card--change {
    padding: 9px 20px 10px;
}
.Card--change:hover{
    background-color: white
}
/* 20 +16 +20 = 56px +4 60px */
.Card_content,
.Card_content p {
    font-size: 14px;
    line-height: 20px;
}

.Card_options>a {
    transition: opacity .5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0;
    text-decoration: none;
}
.Card_options>a:hover,.Card_options>a:focus{
    text-decoration: underline;
}

.Card--change .Card_options {
    opacity: 1!important;
}

.Card_options.hide {
    visibility: hidden;
    pointer-events: none;
}

.Card:focus .Card_options>a,
.Card:hover .Card_options>a {
    will-change: opacity;
    opacity: 1;
}

.Card .Card_options>a:focus {
    will-change: opacity;
    opacity: 1;
}
@media screen and (max-width:768px){
    .Card .Card_options>a,
    .Card .Card_options>a {
        opacity: 1;
    }
        
}
.HitoCollection {
    color: red;
}

.newone {
    font-size: 30px;
    display: block;
    text-align: center;
    padding: 13px 0;
    margin-bottom: 15px;
}
