.wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 500;
  overflow: auto;
  background-color: #f0f0f0;
  backface-visibility: hidden;
  will-change:contents;
}
.paper{
  max-width: 900px;
  border-radius: 4px;
  margin: auto;
  background-color: white;
  /* box-shadow: 0 3px 7px -1px rgba(0,0,0,.16); */
  padding: 1px  20px 30px;
}
@media screen and (min-width:768px) and (min-height:400px){
  .wrapper{
    border-radius: 0;
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width:768px){
  .wrapper{
    background-color: white;
  }
  .paper{
    box-shadow: none;
  }
}


.closeButton {
  float: right;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
 
}

.closeButton:hover {
  color: #303030;
  -webkit-transition: color .3s;
  transition: color .3s;
  text-decoration: none;
}
.closeButton:hover i{
  transform: rotate(90deg);
}



.clearfix {
  position: relative;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}


.delete-button {
  color: red;
}


.backButton {

  font-size: 1em;
  line-height: 36px;
  position: relative;
  margin-right: 10px;
  bottom: 0px;
  cursor: pointer;
  text-decoration: none;
}




.manageBox h1 {
      font-weight: normal;
   
  }

@media screen and (max-width:768px) {
  .manageBox>hr {
      border-color: transparent;
  }
  .manageBox .closeButton {
      display: none;
  }
  .manageBox .backButton {
    font-size: 32px;
    line-height: 24px;
  }
  
}

blockquote {
  position: relative;
  margin: 0;
  padding: 1em 20px;
  margin-left: 3px;
  margin-bottom: 1em;
  border-left: 5px solid #9a9a9a
}

p {
  line-height: 1.6;
}
h2 {
  margin:.5em 0;
}

.article p{
  margin-bottom: 1em;
}
.article h2 {margin: 1.4em 0 1em;}
