.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 500;
    overflow: auto;
    background-color: white;
    /* background-color: #f0f0f0; */
    backface-visibility: hidden;
    will-change: contents;
}

.paper {
    max-width: 900px;
    border-radius: 4px;
    margin: auto;
    /* background-color: white; */
    /* box-shadow: 0 3px 7px -1px rgba(0,0,0,.16); */
}

@media screen and (min-width:768px) and (min-height:400px) {
    .wrapper {
        border-radius: 0;
        padding-top: 50px;
        padding-bottom: 30px;
    }
}

.header {
    margin: 0;
    margin-bottom: 4px;
    font-size: 32px;
    box-sizing: border-box;
    padding: 24px 0px;
    height: 80px;
    background-color: white;
    /* border-radius: 4px; */
}


.header::before {
    content: '';
    font-size: 0;
    vertical-align: bottom;
}

.content {
    padding: 0px 0px 30px;
    border-radius: 4px;
    background-color: white;
}


/* .content:hover {
    background-color: rgb(231, 231, 231);
} */

@media screen and (max-width:768px) {
    .wrapper {
        /* background-color: white; */
    }
    .paper {
        box-shadow: none;
    }
    .header {
        /* font-size: 20px; */
        padding: 24px 20px;
        box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .15)
    }
    .content {
        padding: 10px 10px 30px;
    }
}

.closeButton {
    float: right;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
}

.closeButton:hover {
    color: #303030;
    -webkit-transition: color .3s;
    transition: color .3s;
    text-decoration: none;
}

.closeButton:hover i {
    transform: rotate(90deg);
}

.backButton {
    font-size: 1em;
    line-height: 36px;
    position: relative;
    margin-right: 10px;
    bottom: 0px;
    cursor: pointer;
    text-decoration: none;
}

.manageBox h1 {
    font-weight: normal;
}

@media screen and (max-width:768px) {
    .manageBox>hr {
        border-color: transparent;
    }
    .manageBox .closeButton {
        display: none;
    }
    .manageBox .backButton {
        font-size: 32px;
        line-height: 24px;
    }
}

.cardActions {
    float: right;
}

.cardActions :global(.action-phone) {
    display: none;
}

@media screen and (min-width:768px) {
    .header.withAction {
        height: 96px;
    }    
    .cardActions :global(.hide-pc) {
        display: none;
    }
    .cardActions {
        margin: 10px 0 16px 42px;
        font-size: 16px;
        vertical-align: bottom;
        float: none;
        position: relative;
    }
    .cardActions a {
        padding: 3px 8px;
        border-radius: 4px;
    }
    .cardActions a:hover {
        background-color: #dadada;
    }
    .cardActions a:after {
        content: attr(data-text);
    }
}

@media screen and (max-width:768px) {
    .cardActions a {
        float: right;
    }
}

.cardActions a {
    text-decoration: none;
}