
.mu-category nav::-webkit-scrollbar {
    width: 10px;
    background: inherit;
}

.mu-category nav::-webkit-scrollbar-thumb {
    width: 10px;
    height: 20px;
    background: rgb(166, 151, 148);
}



.song {
    font-weight: 900;
}


/* Two  Layout */

.layout_horizon {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 170px 50px 50px;
    will-change: position;
    backface-visibility: hidden;
}

.layout_horizon .Header {
    margin: 10px 0;
}

.layout_horizon .Header img {
    width: 100%;
}

.layout_horizon .Content {
    display: inline-block;
    padding: 25px;
    background-color: #fff;
    /* box-shadow: 0 3px 10px rgba(0,0,0,.15); */
    border-radius: 4px;
    will-change: transiform,position;
    backface-visibility: hidden;
}

.layout_horizon .Content>h1 {
    font-weight: 200;
    line-height: 1.9;
    white-space: pre-line;
}

.layout_horizon .Content.overLoadHitokoto>h1 {
    font-size: 1em;
}

@media screen and (max-width: 768px) {
    .layout_horizon {
        width: 100%;
        padding: 90px 25px 25px;
    }
    .layout_horizon .Content {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 25px;
    }
    .layout_horizon .Content>h1 {
        font-size: 1.5em;
    }
    .layout_horizon .Content.overLoadHitokoto>h1 {
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) and (orientation:landscape) {
    .layout_horizon {
        padding-top: 60px;
    }
}

.layout_horizon .Content>p {
    position: relative;
    margin-top: 15px;
    text-align: left;
    font-kerning: 4px;
    /* padding:12px 0;  */
}


/* .Content>p:after{
   content:''; 
  display: inline-block;
  position: absolute;
  top:0px;
  left: 0;
  width: 4em;
  height: 3px;
  background-color: #333;
} */

ul.actions {
    list-style: none;
    margin: 25px 0;
}

.layout_horizon ul.actions:after {
    content: '';
    display: table;
    clear: both;
}

.layout_horizon ul.actions li {
    float: left;
    margin-right: 10px;
}

.layout_vertical ul.actions a,
.layout_horizon ul.actions a {
    text-decoration: none;
    font-size: 20px;
}


/* :global(.revert2white) .layout_horizon ul.actions a */

:global(.revert2white) .layout_vertical ul.actions a {
    color: white;
}

.layout_vertical ul.actions a i,
.layout_horizon ul.actions a i {
    font-size: inherit;
}


/* .layout_vertical ul.actions a:hover,
.layout_horizon ul.actions a:hover {
    text-decoration: underline;
} */

.layout_vertical {
    height: 253px;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* height: 20em; */
    padding: 80px 30px 50px 20px;
    will-change: contents;
    backface-visibility: hidden;
    /* font-family: 'Noto Serif CJK SC', 'Source Han Serif SC', ‘Source Han Serif’, source-han-serif-sc, '宋体', serif;
    font-weight: 900; */
}

.layout_vertical .oprations {
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 480px;
    writing-mode: horizontal-tb;
    z-index: 3;
}

.layout_vertical .verticalAnimate {
    position: relative;
    width: 100%;
    height: 100%;
    writing-mode: vertical-rl;
    overflow: auto;
    padding: 0 20px;
}

.verticalAnimate:before {
    content: '';
    width: 500px;
    height: 1px;
    display: block;
}

.layout_vertical .Content {
    position: relative;
    /* min-width: 300px; */
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    /* background-color: rgba(255, 255, 255, .78); */
    padding: 25px;
    border-radius: 4px;
    z-index: 205;
    will-change: opacity, translate;
    backface-visibility: hidden;
    /* box-shadow: 0 3px 10px rgba(0, 0, 0, .15); */
}

.layout_vertical .Content>h1 {
    line-height: 2;
    font-weight: inherit;
    white-space: pre-line;
    /* text-align: center; */
}

.layout_vertical .Content>p {
    margin-right: 30px;
    text-align: right;
    padding-bottom: 20px;
}

.layout_vertical .Content.overLoadHitokoto>h1 {
    font-size: 1em;
}

@media screen and (max-width: 768px) {
    .layout_vertical {
        padding: 70px 0 40px 0;
    }
    .verticalAnimate::before {
        width: 70px;
    }
    .layout_vertical .Content>h1 {
        font-size: 1.5em;
    }
    .layout_vertical .Content.overLoadHitokoto>h1 {
        font-size: 1em;
    }
   
    .layout_vertical .oprations {
        text-align: right;
        margin-right: 29px;
        width: 300px;
    }
}

@media screen and (max-width: 768px) and  (orientation:landscape) {
    .layout_vertical .oprations {
        top: 70px;
        text-align: left;
        width: 100px;
        margin-right: 0px;
    }
    ul.actions {
        margin: 0;
    }
     .verticalAnimate::before {
        width: 180px;
    }
    
}