
.logo{
  position: absolute;
  writing-mode: horizontal-tb;
  top: 15px;
  left: 50px;
  z-index: 200;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
@media screen and (max-width:768px){

  .logo{
    left: 80px;
  }
  .logo h1{
    margin: 5px;
    
  }
  
}