:local(.timerbox){
  user-select:none;
}
:local(.timerbox) :global(.iconfont){
  cursor: pointer;
  display: inline-block;
  transition: transform .3s;
}

:local(.timerbox) :global(.iconfont:hover){
  transform: rotateZ(180deg);
}
:local(.timerbox) input[type=number] {
  border:none;
  border-radius: 0;
  border-bottom: 1px solid black;
  width: 4em;
}
:local(.timerbox) input[type=number]:focus {
  border:none;
  border-bottom: 1px solid black;

}