.item {
    margin-bottom: 30px;
    padding: 10px 20px;
    position: relative;
    /* border:1p/x solid rgba(0, 0, 0, .05); */
    border-radius: 4px;
    transition: background-clor .3s;
    /* background-color: #f6f6f6; */
    /* box-shadow: 0 2px 4px -1px rgba(0 , 0, 0, .15); */
}
.item:hover{
    background-color: #f6f6f6;
}
.item a {
    text-decoration: none;
}
.item:after {
    content: '、，；。';
    display: block;
    text-align: center;
    margin: 15px 0;
    height: 1px;
    width: 100%;
}

.timetag{
    font-size: 12px;
    line-height: 6px;
}
.userName {
    color: black;
    margin-right: 10px;
    text-decoration: none;
}

.userName:hover {
    color: #333;
    text-decoration: underline;
}

.userHitokotoFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 16px 20px;
}

.userHitokotoFlexChild {
    text-align: justify;
}

.userHitokoto {
    white-space: pre-line;
    letter-spacing: .07em;
}

@media screen and (max-width:768px) {
    .item{
        padding: 20px;
    }
    .userHitokotoFlex {
        padding: 20px 0;
    }
    .userHitokoto {
        font-size: 14px;
    }
}

.userHitokotoSource {
    margin-top: 8px;
    float: right;
    font-size: 12px;
}

.actions a{
    text-decoration: none;
    font-size: 20px;
    margin: 0 4px;
}
