.text-filed {
    display: inline-block;
    height: 4em;
    padding-top: 2em;
}

.text-filed.blocked {
    width: 100%;
}

.text-filed input[type=text],
.text-filed input[type=password] {
    display: block;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1em;
    padding: 0.25em 0.1em;
    width: 100%;
    border: none;
    text-align: left;
    /* border-bottom: 1px solid black; */
    outline: none;
}

.text-filed input[type=text]:invalid,
.text-filed input[type=password]:invalid {
    box-shadow: none;
}

.text-filed input[type=text]:focus,
.text-filed input[type=password]:focus {
    outline: none;
}

.text-filed input[type=text],
.text-filed input[type=password] {
    border-bottom: 1px dashed #9E9E9E;
    color: #303030;
}

.text-filed input[type=text]:focus,
.text-filed input[type=password]:focus {
    border-bottom: 1px solid #758a99;
}

.text-filed label::after {
    background: #758a99;
}

.text-filed label {
    display: inline-block;
    font-size: 16px;
    color: transparent;
    pointer-events: none;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}

.text-filed label::before {
    content: attr(data-content);
    color: black;
    top: 0px;
    position: absolute;
    transition: all 0.2s ease;
    will-change: font-size, top;
}

.text-filed label::after {
    bottom: 0.9em;
    content: '';
    height: 2px;
    left: 0%;
    top: 0;
    width: 100%;
    position: absolute;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .2s cubic-bezier(.47, 0, .745, .715);
}

.text-filed label::before,
.text-filed input[required]:focus~label::before {
    font-size: 0.75em;
    top: -4em;
}

.text-filed input:focus~label::after {
    transform-origin: left top;
    transform: scale(1, 1);
}

.text-filed input:invalid~label::before {
    font-size: 1em;
    top: -1.5em;
}

.text-filed.red input {
    border-bottom: 0.1em solid #F44336;
    color: #d2190b;
}

.text-filed.red label::after {
    background: #F44336;
}

.text-filed.red label::before,
.text-filed.red input[required]:focus~label::before {
    color: #f8877f;
}

.text-filed.red input:invalid~label::before {
    color: #F44336;
}

.text-filed input:focus {
    /*background-color: #e2ecff;*/
    border-color: #758a99;
    outline: none;
}