@font-face {
  font-family: 'iconfont';
  src: url('./iconfont.eot');
  src: url('./iconfont.eot?#iefix') format('embedded-opentype'),
  url('./iconfont.woff') format('woff'),
  url('./iconfont.ttf') format('truetype'),
  url('./iconfont.svg#iconfont') format('svg');
}

:global(.iconfont){
  font-family:"iconfont" !important;
  font-size:inherit;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

:global(.icon-check:before) { content: "\e645"; }

:global(.icon-close:before ){ content: "\e646"; }

:global(.icon-favorfill:before ){ content: "\e64b"; }

:global(.icon-favor:before ){ content: "\e64c"; }

:global(.icon-loading:before ){ content: "\e64f"; }


:global(.icon-roundclose:before ){ content: "\e659"; }

:global(.icon-likefill:before ){ content: "\e668"; }

:global(.icon-like:before ){ content: "\e669"; }

:global(.icon-back:before ){ content: "\e679"; }

:global(.icon-more:before ){ content: "\e684"; }

:global(.icon-settings:before ){ content: "\e68a"; }

:global(.icon-questionfill:before ){ content: "\e690"; }

:global(.icon-question:before ){ content: "\e691"; }

:global(.icon-pulldown:before ){ content: "\e69f"; }

:global(.icon-pullup:before ){ content: "\e6a0"; }

:global(.icon-refresh:before ){ content: "\e6a4"; }

:global(.icon-moreandroid:before ){ content: "\e6a5"; }

:global(.icon-link:before ){ content: "\e6bf"; }

:global(.icon-add:before ){ content: "\e6da"; }

:global(.icon-infofill:before ){ content: "\e6e4"; }

:global(.icon-info:before ){ content: "\e6e5"; }

:global(.icon-pull-left:before ){ content: "\e71f"; }

:global(.icon-pull-right:before ){ content: "\e720"; }

:global(.icon-add1:before ){ content: "\e767"; }

:global(.icon-next:before ){ content: "\e653"; }

:global(.icon-Next_Grey:before ){ content: "\e600"; }

:global(.icon-more_android_light:before ){ content: "\e7e3"; }

:global(.icon-more_light:before ){ content: "\e7e4"; }

:global(.icon-back_android:before ){ content: "\e7ed"; }

:global(.icon-back_android_light:before ){ content: "\e7ee"; }

:global(.icon-round_close_light:before ){ content: "\e7ef"; }

:global(.icon-round_close_fill_light:before ){ content: "\e7f0"; }

:global(.icon-next1:before ){ content: "\e606"; }

:global(.icon-offline_fill:before ){ content: "\e712"; }

:global(.icon-offline:before ){ content: "\e713"; }

:global(.icon-prompt_fill:before ){ content: "\e71b"; }

:global(.icon-prompt:before ){ content: "\e71c"; }

:global(.icon-setup_fill:before ){ content: "\e728"; }

:global(.icon-setup:before ){ content: "\e729"; }

:global(.icon-guanbijiantou:before ){ content: "\e86d"; }

:global(.icon-sousuo:before ){ content: "\e86e"; }

:global(.icon-tishi:before ){ content: "\e881"; }

:global(.icon-jinrujiantou:before ){ content: "\e88e"; }

:global(.icon-shezhi:before ){ content: "\e892"; }

:global(.icon-wode:before ){ content: "\e8a0"; }

:global(.icon-fanhui:before ){ content: "\e8a4"; }

:global(.icon-jia:before ){ content: "\e8a6"; }

:global(.icon-jian:before ){ content: "\e8a7"; }

:global(.icon-shuaxin:before ){ content: "\e8aa"; }



:global(.icon-loading-anim:before ){ content: "\e64f";display: inline-block; animation: rolling .5s infinite ;}

@keyframes rolling {
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}
