.root {
     /* background-color: #c6bba5;  */
     /* background-color: #e7e7e7;  */
     /* background-color: white;  */
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
     /* background: url(./img/bg-creme.jpg) no-repeat;  */
      /* background: url(./img/bg-paper2.jpg) no-repeat;   */
    background-size: cover;
}

.logo{
    position: absolute;
    top: 15px;
    left: 50px;
}

.logo ul {
    display: inline-block;
    list-style: none;
}
.logo ul:after{
    content: '';
}
.logo ul li{
    display: block;
    float: left;
}
.logo ul li a{
    text-decoration: none;
    font-size: 16px;
}

