html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    width: 100%;
    display: block;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: block;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "PingFang SC", helvetica,"游ゴシック体","Noto Sans CJK", "Source Han Sans", 'Hiragino Sans GB', 'Microsoft Yahei Light', 'Microsoft YaHei', 'WenQuanYi Micro Hei',"Microsoft Yahei",lucida, sans-serif;
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

a{
    color: #444;
}
body>div:first-child{
    width: 100%;
    height: 100%;
}
hr{
    border:1px solid #444;
}

button{
  outline: none;
  -webkit-appearance: none;
  border: none;
  background-color:#0095d9 ;
  color: white;
  cursor: pointer;
  padding: .6em 1.9em;  
  border-radius: 4px;
}
