.home {
    background-color: #fff;
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.username {
    /* position: absolute; */
    /* top: 60px; */
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    /* left: 200px; */
    /* text-align: right; */
}

.menu {
    list-style: none;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 2;
}

.menu a {
    text-decoration: none;
    padding-bottom: 3px;
}

.menu a:focus,
.menu a:hover,
.menu a.active {
    outline: none;
    border-bottom: 1px solid currentColor;
}

.left {
    padding-top: 100px;
    width: 300px;
    float: left;
    height: 100%;
    text-align: right;
}

.right {
    margin-left: 350px;
    padding-top: 50px;
    position: relative;
    overflow: auto;
    height: 100%;
}

@media screen and (max-width:768px) {
    .left {
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 20px;
        background-color: white;
        float: none;
        height: auto;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
    }
    .right {
        box-sizing: border-box;
        margin-left: 0px;
        padding-top: 60px;
    }
    .username {
        position: absolute;
        color: #DDDDDD;
        top: 0;
        left: 0;
        line-height: 1;
        margin: 0;
        text-shadow: 2px 0 #E0BEBE, 2px 0 #B4C6EC;
    }
    .left:after,
    .menu:after {
        content: '';
        clear: both;
        display: table;
    }
    .menu {
        margin: 0;
        padding: 0;
        text-align: center;
        -webkit-padding-start: 0px;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
    .menu li {
        display: inline-block;
        font-size: 12px;
        margin: 0 10px;
    }
    .menu a {
        padding-bottom: 6px;
    }
    .menu a:focus,
    .menu a:hover,
    .menu a.active {
        border-bottom: 4px solid currentColor;
    }
}