.login-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    padding: 20px 30px;
    width: 320px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0px 3px 15px -7px rgba(29, 29, 29, 0.7);
}


.login-box button {
    outline: none;
    -webkit-appearance: none;
    border: none;
    background-color: #0095d9;
    color: white;
    cursor: pointer;
    padding: .6em 1.9em;
    border-radius: 4px;
}

@media screen and (max-width:768px) {
    .login-box {
        padding: 20px 30px;
        width: 100%;
        margin: 0;
        min-height: 100%;
        border: none;
        background-color: white;
        box-shadow: none;
        justify-content: flex-start;;
    }
}