.close-button {
    float: right;
    position: relative;
    color: hsla(0, 0%, 100%, .3);
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
}

.close-button:before {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 16px;
    height: 3px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .56);
}

.close-button:hover {
    color: #303030;
    -webkit-transition: color .3s;
    transition: color .3s;
    text-decoration: none;
}

i.icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    vertical-align: top;
}

i.close {
    background: url(../img/icon-close.png) no-repeat center;
    background-size: contain;
}

.clearfix {
    position: relative;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.delete-button {
    color: red;
}

i.back {
    background: url(../img/icon-back.png) no-repeat center;
    background-size: contain;
}

.backButton {
    display: none;
    float: left;
    position: relative;
    margin-right: 10px;
    color: hsla(0, 0%, 100%, .3);
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
}

.backButton .back {
    width: 24px;
    height: 24px;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width:768px) {
    .manageBox>hr {
        border-color: transparent;
    }
    .manageBox .close-button {
        display: none;
    }
    .manageBox .backButton {
        display: block;
        float: left;
    }
    .manageBox h1 {
        font-weight: normal;
        font-size: 24px;
    }
}

blockquote {
    position: relative;
    margin: 0;
    padding: 1em 20px;
    margin-left: 3px;
    margin-bottom: 1em;
    border-left: 5px solid #9a9a9a
}

.hitokotoTextarea {
    border: 1px solid transparent;
    font-size: 16px;
    line-height: 1.8;
    font-family: inherit;
    padding: 30px;
    width: 100%;
    white-space: pre-line;
    border-left: 5px solid rgba(0, 0, 0, .56);
}

.hitokotoTextarea:focus {
    outline: none;
}

.hitokotoSouceInput {
    display: block;
    text-align: right;
    width: 100%;
    outline: none;
    padding: 20px 50px;
    border: none;
    -webkit-appearance: none;
}

.hitokotoSouceInput:invalid {
    color: red;
}

.hitokotoSouceInput:valid {
    color: black;
}

.hitokotoSouceTypeBlock {
    /* text-align: right; */
    padding-right: 50px;
}

.hitokotoSouceTypeBlock select {
    padding: 5px 10px;
    border-radius: 4px;
    line-height: 1.7;
    letter-spacing: 1.2px;
    border: 1px solid #303030;
}

.hitokotoSouceTypeBlock select:focus{
    outline: none;
    border: 1px solid #0095d9;
}
.operations{
    padding: 20px 0 ;
}