.settingWrapper{
   position: absolute; 
  /* right: 0; */
  background-color: white;
  border:5px solid black;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
  /* display: block; */
}
.settingWrapper dt{
  float: left;
  padding: 2px 0;
  width: 6em;
  text-align: right;
}
.settingWrapper dd{
  padding: 3px ;
  margin-left: 7em;
  min-width: 50px;
}